{% extends 'base.html' %}
{% block title %} File import {% endblock title %}


{% block body %} 


<div class="main">
  <div class="import_data">
    <div class="el-import0">
      <h1>Доступ к базе данных</h1>
    </div>
    <div class="el-import1">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        Импортировать базу продукции
        <br>(типоразмер, наименование продукции и т.д.):
        {{ form.as_ul}}
        <br>
          <br><button type="submit" name="form_name" value="aform.prefix">Импортировать</button>
    </form>
    </div>
    <div class="el-import2">
      <form action="" method="post">
        {% csrf_token %} 
          <button type="submit" class="btn btn-danger" name="form_name" value="delete_data_base_form.prefix"><b>Очистить базу данных</b></button>
      </form>
    </div>
    <div class="el-import3">
          <form action="" method="post" enctype="multipart/form-data">
            Импортировать<br>
            1. цены базовой (собственной продукции:) - базовые цены.<br> 
            2. база химкурьер<br>
            {% csrf_token %} 
            {{ form.as_ul}}
            <br>
              <br><button type="submit" name="form_name" value="bform.prefix">Импортировать</button>
          </form>
    </div> 
    <div class="el-import4">   
          <form action="" method="post">
            Установить время:
            {% csrf_token %} 
            {{ dform.as_ul }}
            <br>
              <br><button type="submit" name="form_name" value="dform.prefix">Установить</button>
          </form>
    </div>
    <div class="el-import5">
    </div>
    <div class="el-import6">
    </div>         
    <div class="el-import7">
        <a href="{% url 'main' %}" class="btn btn-success">На главную</a>
    </div> 
  </div>
</div>



{% endblock body %}



      {#  <form action="" method="post"> #}
        {#    Перезагрузить сервер #}
        {#    {% csrf_token %}  #}
        {#      <button type="submit" name="form_name" value="cform_reload_nginx.prefix">Перезагрузить</button> #}
        {#  </form> #}





    
