{% if user.is_superuser %}

  <li class="nav-item">
    <a class="nav-link" href="{% url 'sales:sales' %}">Продажи</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dictionaries:dictionaries' %}">Справочники</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="{% url 'tyres:tyre_list' %}">Продукция</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'filemanagment:excel_import' %}">Импорт данных</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profiles:register' %}">Регистрация пользователя</a>
  </li>

{% endif %}




{% if user.is_active is False %}
<li class="nav-item">
<a class="nav-link" href="{% url 'login' %}">Войти</a>
</li>     
{% endif %}


