{% extends 'base.html' %}
{# {% load crispy_forms_tags %} #}
{% load my_tags %}
{# {% load googlecharts %} #}
{% block title %} Main {% endblock title %}
{% block body %} 


<div class="main">
  <div class="container">

    <div class="el_header">
      <h5><b>Marketer ex Machina</b> - инструмент по автоматизации сбора, обработки и анализа и структурированных данных.<br>В настоящее время представлена информация о шинном рынке (OEM) Республики Беларусь и Российской Федерации. В основе проекта лежат принципы Base Data Supervision Marketing -отслеживание рынка, опираясь на анализ структурированных массивов данных большого объема.
      В настоящее время Marketer ex Machina предлагает:
      </h5>
    </div> 

    <div class="el1">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider1" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/logo.png" class="d-block w-100"  alt="carousel_image1"> 
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body" >
            <h5 class="card-title">АНАЛИЗ СВЫШЕ 77 000 ПОЗИЦИЙ ЕЖЕДНЕВНО</h5>
            <p class="card-text">1.	Ежедневный мониторинг цен на продукцию на крупнейших торговых площадках шинной тематики в Республике Беларусь, Российской Федерации. Анализа базы импорта в Российскую Федерацию.</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>

    <div class="el2">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider2" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/c15.jpg" class="d-block w-100"  alt="carousel_image1"> 
              </div>
              <div class="carousel-item ">
                <img src="/media/logo.png" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">НАГЛЯДНАЯ ДИНАМИКА РЫНКА</h5>
            <p class="card-text">2.	Возможность анализа цен конкурентных аналогов за кратко/долгосрочный период. Ежедневное обновление базы данных. Возможность корректировать срез временного периода «налету».													Возможность проведения оперативного формирования отчетов  о типоразмерах шин, импортируемых в РФ, за заданный период с отбором по брендам/импортерам/получателям и выгрузкой сформированного отчета в формате xls.</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>



    <div class="el3">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider3" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/c15.jpg" class="d-block w-100"  alt="carousel_image1"> 
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">ОПЕРАТИВНОСТЬ И ГИБКОСТЬ ФОРМИРОВАНИЯ ОТЧЕТА</h5>
            <p class="card-text">3.	Возможность оперативного осуществления в онлайн-режиме анализа цен конкурентных аналогов.  Система проводит автоматический анализ технических параметров шин конкурентных брендов и их сверку на соответствие с параметрами собственной продукции. Дополнительно осуществляется анализ цен конкурентных типоразмеров и базы «Химический Вестник». Проведение анализа специалистами трудозатратно (от одного человекочаса и более), зачастую требует дополнительной корректировки, что может занимать существенную часть времени от отведенного рабочего дня.</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>


    <div class="el4">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider4" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/c15.jpg" class="d-block w-100"  alt="carousel_image1">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">ЕЖЕДНЕВНЫЙ АНАЛИЗ ПРЕДСТАВЛЕННОСТИ НА РЫНКЕ (альфа-версия)</h5>
            <p class="card-text">4.	Ежедневный анализ топ брендов/типоразмеров, представленных на рынках сбыта (Республика Беларусь, Российская Федерация).</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>


    <div class="el5">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider5" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/c15.jpg" class="d-block w-100"  alt="carousel_image1"> 
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider5" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider5" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">ЕЖЕДНЕВНЫЙ АНАЛИЗ ПРЕДСТАВЛЕННОСТИ НА РЫНКЕ (альфа-версия)</h5>
            <p class="card-text">5.	Ежедневный анализ топ брендов/типоразмеров, представленных на рынках сбыта (Республика Беларусь, Российская Федерация).</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>

    <div class="el6">
      <div class="container-fluid">
        <div class="card" id="main_paige_card">
          <div id="slider5" class="carousel slide" data-bs-pause="false" id="carousel_image">
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img src="/media/c15.jpg" class="d-block w-100"  alt="carousel_image1"> 
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image2">
              </div>
              <div class="carousel-item ">
                <img src="/media/c15.jpg" class="d-block w-100" alt="carousel_image3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#slider6" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#slider6" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            </div>
          <div class="card-body">
            <h5 class="card-title">Снижение объема выполнения ежедневных задач</h5>
            <p class="card-text">6."Marketer ex Machina" создан для автоматического исполнения ежедневных задач, связанных с подготовкой и обработкой больших объемов данных. Повышение KPI сотрудников в эпоху автоматизации как ответ на кадровый голод.</p>
            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
          </div>
        </div>
      </div>
    </div>

  </div>   
</div>





{% endblock body %}






