{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load my_tags %}
{# {% load googlecharts %} #}
{% block title %} Main {% endblock title %}
{% block body %} 


<div class="main">
  <div class="container">

  <div class="el1">
    <div class="container-fluid">
      <p class="text-center">dsfdfdf33443</p>
    </div>
  </div>
  <div class="el2">
    <div class="container-fluid">
      <p class="text-center">dsfrtyryf33443</p>
    </div>
  </div>
  <div class="el3">
    <div class="container-fluid">
      <p class="text-center">dsfrytyf33443</p>
    </div>
  </div>

  </div>   
</div>





{% endblock body %}






