{% load my_tags %}
<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">
        <img src='/media/natjusha_t.png' alt="" width="200" height="38" class="d-inline-block align-text-left"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'abc_table_xyz:abctable' %}">ABCXYZ</a>

    <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Цены
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'prices:comparative_prices_bel' %}">Рынок РБ</a></li>
          {#  <li><a class="dropdown-item" href="">Рынок РФ</a></li> #}
            <li><a class="dropdown-item" href="{% url 'prices:comparative_prices_russia' %}">Рынок РФ</a></li> 
          </ul>
        </li> 
    </li>

    <li class="nav-item">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Хим Курьер
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="nav-link" href="{% url 'chemcurier:chemcurier_table' %}">Конкуренты</a></li>
            <li><a class="nav-link" href="{% url 'chemcurier:chemcurier_table_progressive' %}">Динамика</a></li>
          </ul>
        </li> 
    </li>


    <li class="nav-item" >
        {#   <a class="nav-link" href=""> Курс валют НБ РБ на {% current_date %}: <b>RUB</b>={% currency_rate_russia_rub %}, <b>USD</b>={% currency_rate_usd %} </a> #} 
    </li>

     {% include './check_if_logged.html' %} 



    {#</li>#}
    {#<a class="nav-link" href="">1 BYN = {% currency_rate %}</a>#}
    {#</li>#}


</ul>
