{% if user.is_active is True %}
<li class="nav-item dropdown" style="margin-right: 5%">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
    <b>
      {{ user }}
    </b>
  </a>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
    <li>
      <a class="dropdown-item" href="{% url 'logged_out' %}">
        Выйти
      </a>
    </li>
  </ul>
</li>
{% endif %}
