{% if user.is_active is True %}
<ul class="navbar-nav ms-auto">
  <li class="nav-item" id="nav-item-user">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <font color="#ffffff"><b>{{ user }}</b></font>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'logged_out' %}">Выйти</a></li>
      </ul>
    </li> 
  </li>
</ul>
{% endif %}