{% extends 'base_registration.html' %}

{% block body %}


{% if form.errors %}
Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте еще раз.
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>У вашей учетной записи нет доступа к этой странице. Пожалуйста, войдите под учетной записью, у которой есть доступ.</p>
    {% else %}
    <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
    {% endif %}
{% endif %}

<form class="form-signin" method="post" action="{% url 'login' %}">   
  {% csrf_token %}
    <img class="mb-4" src="/media/logo2.png" alt="логотип bootstrap" width="203" height="170">  
    <h1 class="h3 mb-3 font-weight-normal"><font color="#ffffff">Вход в систему</font></h1>
    <label for="inputLogin" class="sr-only"><font color="#ffffff">Логин</font></label>
    <input type="password" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="" name="username">
    <label for="inputPassword" class="sr-only"><font color="#ffffff">Пароль</font></label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" name="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"><font color="#ffffff">Запомнить меня</font>
      </label>
    </div>
    
    <button class="btn btn-lg btn-light btn-block" type="submit" value="{{ next }}">Войти</button>
    <p class="mt-5 mb-3 text-muted"><b>© marketer ex machina 2024</p>
</form>


{# Assumes you set up the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}

{% endblock body %}


