{% extends 'base.html' %}
{% block title %} Sales detail {% endblock title %}
{% block body %} 
{{ params }}

<form action="{% url 'sales:update_sales' %}" method="post">

  <table class="table table-sm table-dark table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Типоразмер/Модель</th>
        <th scope="col"></th>
        {% for per in object.dates %}
        <th scope="col">{{ per }}</th>
        {% endfor %}
        <th scope="col">Итого</th>
      </tr>
    </thead>
    <tbody>
      {% for object, tyr_card in list_objects %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>

        {% if tyr_card %}
        <td><a href="{% url 'tyres:tyre_card_detail' tyr_card %}">
        {% endif %}
        {% if not tyr_card %}
        <td><a href="">
        {% endif %}
          {{ object.tyre.tyre_model.model }} {{ object.tyre.tyre_size.tyre_size }} 
          {% for param in object.tyre.tyre_type.all %}
            {{ param.tyre_type }}
          {% endfor %}
        </td>  

        <td>{% for sal in object.sale_on_date  %}
          <td><b>{{ sal }}</b></td>
        {% endfor %}</td>

        <td><b>{{ object.total_sale_in_period }}</b></td>

        <tr>
          {% for contragent_sal in object.contragents_sales_joined %}
          <tr>
            <td></td>
            <td>{% for con in contragent_sal  %}</td> 
            <td>{{ con }}</td>{% endfor %}</tr>
          {% endfor %}
        </tr>

      {% endfor %}
    </tbody>
  </table>

  {% csrf_token %} 
  задать начало периода: <input type="date" name="start_period"> конец периода <input type="date"  name="end_period"> <input type="hidden" value="select"><br>
  <button type="submit" class="btn btn-success" name1="change_period" value1="period" name2="tyre_groups" value2="{{ select }}">Принять</button>


    задать группу шин:
    <form action="{% url 'homepage:update_home' %}" method="post">
      {% csrf_token %}
      <select name = "tyre_groups"  multiple aria-label="multiple select example">
          {% for selec in tyre_groups %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>
    
    выбрать типоразмер:
      {% csrf_token %}
      <select name = "tyre_sizes"  multiple aria-label="multiple select example">
          {% for selec in tyre_sizes %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>
    
      выбрать модель:
      {% csrf_token %}
      <select name = "tyre_models"  multiple aria-label="multiple select example" >
          {% for selec in tyre_models %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>
    </form> 


</form>
{% endblock body %}