{% extends 'base.html' %}
{% block title %} Home page {% endblock title %}
{% block body %} 
HOME PAGE

<table class="table table-dark table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Номенклатура</th>
        <th scope="col">Группа</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ obj.tyre.tyre_model.model }} {{ obj.tyre.tyre_size.tyre_size }} 
        {% for param in obj.tyre.tyre_type.all %}
          {{ param.tyre_type }}
        {% endfor %}
        </td>
        <td>{{ obj.abcxyz_group }} </td>
            
      </tr>
  
      {% endfor %}
    </tbody>
  </table>


{% endblock body %}
