{% extends 'base.html' %}
{% block title %} Home page {% endblock title %}
{% block body %} 
HOME PAGE

<form action="{% url 'homepage:update_home' %}" method="post">

<table class="table table-sm table-dark table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Номенклатура</th>
        <th scope="col">Группа</th>
        <th scope="col">Объем продаж всего<br> за период {{ period }}</th>
        <th scope="col">Группа А, В, С | X, Y, Z</th>
        <th scope="col">Топ-2 контрагента</th>

      </tr>
    </thead>
    <tbody>
      {% for obj, tyr_card in object %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>

        {% if tyr_card %}
        <td><a href="{% url 'tyres:tyre_card_detail' tyr_card %}">
        {% endif %}
        {% if not tyr_card %}
        <td><a href="">
        {% endif %}
          {{ obj.tyre.tyre_model.model }} <b>{{ obj.tyre.tyre_size.tyre_size }}</b>
        {% for param in obj.tyre.tyre_type.all %}
          {{ param.tyre_type }}
        {% endfor %}
        </a>
        </td>
        <td>{{ obj.tyre_group }} </td>
        <td>{{obj.total_sales }}</td>
        <td>{{ obj.abc_xyz_group_home }} </td>
        <td>{% for contragent in obj.top_contragents_by_sales %} 
          <a href="">{{ contragent.contragent_name }}</a>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  {% csrf_token %} 
    задать начало периода: <input type="date" name="start_period"> конец периода <input type="date"  name="end_period"> <input type="hidden" value="select"><br>
    <button type="submit" class="btn btn-success" name1="change_period" value1="period" name2="tyre_groups" value2="{{ select }}">Принять</button>

    задать группу шин:
    <form action="{% url 'homepage:update_home' %}" method="post">
      {% csrf_token %}
      <select name = "tyre_groups"  multiple aria-label="multiple select example">
          {% for selec in tyre_groups %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>

    выбрать типоразмер:
      {% csrf_token %}
      <select name = "tyre_sizes"  multiple aria-label="multiple select example">
          {% for selec in tyre_sizes %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>

      выбрать модель:
      {% csrf_token %}
      <select name = "tyre_models"  multiple aria-label="multiple select example" >
          {% for selec in tyre_models %}
          <option value="{{ selec }}">{{ selec }}</option>
          {% endfor %}
      </select>
    </form> 

  </form>
{% endblock body %}
