{% extends 'base.html' %}
{% block title %} ABC XYZ Table {% endblock title %}
{% block body %} 
<h1>ABC XYZ таблица</h1>

<form action="{% url 'abc_table_xyz:abctable_update' %}" method="post">

<table class="table table-sm table-dark table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Номенклатура</th>
      <th scope="col"></th>
      {% for per in object.period_dict_final %}
      <th scope="col">{{ per }}</th>
      {% endfor %}
      <th scope="col">Итого</th>
      <th scope="col">Доля в общем объеме, %</th>
      <th scope="col">Доля в общем объеме с накопительным итогом, %</th>
      <th scope="col">Группа анализа (А, В, С)</th>
      <th scope="col">Cреднемесячная выручка</th>
      {#<th scope="col">Cтандартное отклонение</th>#}
      {#<th scope="col">Коэффициент вариации</th>#}
      <th scope="col">Группа анализа (X, Y, Z)</th>
      <th scope="col">Группа А, В, С | X, Y, Z</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in list_of_tableobects %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'tyres:tyre_card_detail' object.pk %}">{{ obj.tyre.tyre_model.model }} {{ obj.tyre.tyre_size.tyre_size.all }}
        {% for param in obj.tyre.tyre_type.all %}
          {{ param.tyre_type }}
        {% endfor %}</a></td>
        <td>{% for val in obj.return_val %}
          <td>{{ val }}</td>
        </td>{% endfor %}
        <td>{{ obj.total_sales_in_period }}</td>
        <td>{{ obj.tyre_percent_in_total_amount_in_period }} %</td>
        <td>{{ obj.percent_in_total_amount_accumulated_percentage }} %</td>
        <td>{{ obj.abc_group }}</td>
        <td>{{ obj.average_revenue }}</td>
        <td>{{ obj.xyz_group }}</td>
        <td>{{ obj.abc_xyz_group }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% csrf_token %} 
задать начало периода: <input type="date" name="start_period"> конец периода <input type="date"  name="end_period"> <input type="hidden" value="select"><br>
<button type="submit" class="btn btn-success" name1="change_period" value1="period" name2="tyre_groups" value2="{{ select }}">Принять</button>

  задать группу шин:
  <form action="{% url 'homepage:update_home' %}" method="post">
    {% csrf_token %}
    <select name = "tyre_groups"  multiple aria-label="multiple select example">
        {% for selec in tyre_groups %}
        <option value="{{ selec }}">{{ selec }}</option>
        {% endfor %}
    </select>

  выбрать типоразмер:
    {% csrf_token %}
    <select name = "tyre_sizes"  multiple aria-label="multiple select example">
        {% for selec in tyre_sizes %}
        <option value="{{ selec }}">{{ selec }}</option>
        {% endfor %}
    </select>

    выбрать модель:
    {% csrf_token %}
    <select name = "tyre_models"  multiple aria-label="multiple select example" >
        {% for selec in tyre_models %}
        <option value="{{ selec }}">{{ selec }}</option>
        {% endfor %}
    </select>
  </form> 

</form>
{% endblock body %}

{# {% for object in object.table.all %} #}
