{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load googlecharts %}
{% block title %} ChemCurier Progressive {% endblock title %}
{% block body %} 

<div class="main">
    <div class="container" id="container_chem">

        <div class="el_chem-0">
            
        </div>

        <div class="el_chem-1">
            <p align="left">
            Импорт в Российскую Федерацию шин за период {{ period_start }} - {{ period_end }}.<br>
            </p>
        </div>


        <div class="el_chem-2"> 
            <div>
                <form action="{% url 'chemcurier:chemcurier_update_progressive' %}" method="post">
                    {% csrf_token %}
                    <ul>
                        <li style="display: inline;"><button type="submit" class="btn btn-warning" name1="change_period" value1="period">Принять</button></li> 
                        <li style="display: inline;">{{ period_form_start }}</li> 
                        <li style="display: inline;">{{ period_form_end }}</li> 
                        <li style="display: inline;">{{ tyresizes_form }}</li> 
                        <li style="display: inline;">{{ tyrebrands_form }}</li> 
                        <li style="display: inline;">{{ recievers_form }}</li> 
                    {#    <li style="display: inline;">{{ prod_countrys_form }}</li>  #}
                    {#    <li style="display: inline;">{{ groups_form }}</li>         #}
                    {#    <li style="display: inline;">{{ currency_input_form }}</li>  #} 
                    {#    <li style="display: inline;"><b>{{ currency }}</b></li>      #}
                    {#    <li style="display: inline;"><b>{{ curr_value }}</b></li>    #}    
                    </ul>     
                </form>
            </div>
        </div>  




        <div class="el_chem-3">
            <div class="table-responsive" id="table_container_chem">
                <table class="table table-bordered" id="table_chem" ;>
                    <div class = "Caption"><b>Типоразмер: {{current_tyresize}}<br></b></div>
                    <caption>Согласно данным информационно-аналитическго агентства «Хим-Курьер»</caption>
                    <thead>
                      <tr>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">#</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Бренд</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Получатель</th>
                            {% for col in headers_len.values %}
                                    <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">Объем поставки, шт.</th>
                                    <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">Объем поставки, USD</th>
                                    <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">Средневзвешенная цена реализации единицы товара, USD</th>                                     
                            {% endfor %} 
                            <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">количество, шт.</th>
                            <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">сумма импорта долл.США без НДС</th> 
                            <th scope="col"; valign="middle"><span class="align-middle"><p class="text-center">средневзвешенная цена, долл. США без НДС</th>     
                      </tr>
                      <tr>
                        {% for col in headers_len.values %}
                            <th colspan="3" class="text-center">{{ col }}</th> 
                        {% endfor %} 
                            <th colspan="3" class="text-center">{{ period_start }} - {{ period_end }} </th>    
                      </tr>
                    </thead>

                    <tbody>
                            {% for key, val in get_chem_courier_objects_from_base.items %}
                            <tr>             
                                <td>{{ forloop.counter }}</td>
                                    {% for brand_reciever in key %}
                                        <td>{{ brand_reciever }}</td>
                                    {% endfor %} 
                                    {% for col in headers_len.keys %}
                                        {% for k, date_value in val.items %}
                                            {% if k == col %}
                                                {% for data in date_value %}                                                   
                                                    <td>{{ data }}</td>                                                   
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                {% for res_key, res_val in num_summ_right_columns_result.items %}
                                    {% if res_key == key %}
                                        {% for data1 in res_val %}
                                            <td>{{ data1 }}</td>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                
                            {% endfor %} 
                            </tr>  

                            <tr>
                                <td colspan="3" class="text-center"><b>ИТОГО</b></td>
                                {% for col in headers_len.keys %}
                                    {% for date, data_listt in itogo.items %}
                                        {% if date == col %}  
                                            {% for dt in data_listt %}   
                                                <td><b>{{ dt }}</b></td>
                                            {% endfor %} 
                                        {% endif %}
                                    {% endfor %}  
                                {% endfor %}
                                
                                {% for itog_sum in num_summ_right_columns_result_itog_sum %}     
                                    <td><b>{{ itog_sum }}</b></td>
                                {% endfor %}
                            </tr>   
              
                    </tbody>

                </table>
            </div>
        </div>    

  

    </div>
</div>



  {% endblock body %}