{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}
{# {% load googlecharts %} #}
{% block title %} ChemCurier {% endblock title %}
{% block body %} 

<div class="main">
    <div class="container" id="container_chem">

        <div class="el_chem-0">
            
        </div>

        <div class="el_chem-1">
            <p align="left">
            Импорт в Российскую Федерацию в период {{ period_is }} года</p>
        </div>

        <div class="el_chem-2"> 
            <div>
                <form action="{% url 'chemcurier:chemcurier_update' %}" method="post">
                    {% csrf_token %}
                    <ul>
                        <li style="display: inline;"><button type="submit" class="btn btn-warning" name1="change_period" value1="period">Принять</button></li> 
                        <li style="display: inline;">{{ period_form }}</li> 
                        <li style="display: inline;">{{ tyresizes_form }}</li> 
                        <li style="display: inline;">{{ tyrebrands_form }}</li> 
                        <li style="display: inline;">{{ recievers_form }}</li> 
                        <li style="display: inline;">{{ prod_countrys_form }}</li> 
                        <li style="display: inline;">{{ groups_form }}</li>
                        <li style="display: inline;">{{ currency_input_form }}</li>   
                        <li style="display: inline;"><b>{{ currency }}</b></li> 
                        <li style="display: inline;"><b>{{ curr_value }}</b></li>      
                    </ul>     
                </form>
            </div>
        </div>  

        <div class="el_chem-3">
            <div class="table-responsive" id="table_container_chem">
                <table class="table" id="table_chem">
                    <div class = "Caption"><b>Типоразмер: {{current_tyresize}}<br></b></div>
                    <caption>Согласно данным информационно-аналитическго агентства «Хим-Курьер»</caption>
                    <thead>
                      <tr>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">#</th>
                    {#   <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Типоразмер</th> #}
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Бренд</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Получатель</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Страна производства</th>  
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Группа шин</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Объем поставки, шт.</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Объем поставки, USD</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Средневзвешенная цена реализации единицы товара, USD</th>
                        <th scope="col" rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">Средневзвешенная цена реализации единицы товара, бел.руб.</th>
                      </tr>
                    </thead>

                    <tbody>
                        {% for obj in get_chem_courier_objects_from_base %}
                            <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {#    <td>{{ obj.tyre_size_chem }}</td> #}
                                    <td>{{ obj.producer_chem }}</td>
                                    <td>{{ obj.reciever_chem }}</td>
                                    <td>{{ obj.prod_country }}</td>
                                    <td>{{ obj.group_chem.tyre_group }}</td>
                                    <td>{{ obj.obj_val_on_moth_chem_for_table }}</td>
                                    <td>{{ obj.obj_money_on_moth_chem_for_table }}</td>
                                    <td>{{ obj.obj_average_price_in_usd_chem_for_table }}</td>
                                    <td>{{ obj.average_from_usd_to_bel }}</td>
                            </tr>
                        {% endfor %}    
                            <tr>
                                <td colspan="5" align="center"><b>ИТОГО</b></td>
                                {% for data in chemcourier_table.num_summ %}
                                <td><b>{{ data }}</b></td>
                                {% endfor %}
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>    

        <div class="el_chem-4">
            <form action="{% url 'chemcurier:chemcurier_update' %}" method="post">
                    {% csrf_token %}
                <button type="submit" class="btn btn-light" name="chemcuorier_download">скачать</button>
            </form>
        </div>  

    </div>
</div>



  {% endblock body %}