{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load googlecharts %}
{% block title %} Comparative table Belarus {% endblock title %}
{% block body %} 

<div class="main">
    <div>
        g<br>
        g<br>
        g<br>
        g<br>
        g<br>
    </div>
    <div>
        Типоразмер: {{current_tyresize}}
    </div>


    <div class="table-responsive" id="table_container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
            {#    <th scope="col">Типоразмер</th> #}
                <th scope="col">Бренд</th>
                <th scope="col">Получатель</th>
                <th scope="col">Стана производства</th>
                <th scope="col">Группа шин</th>
                <th scope="col">Объем поставки, шт.</th>
                <th scope="col">Объем поставки, USD</th>
                <th scope="col">Средневзвешенная цена реализации единицы товара, бел.руб.</th>
                <th scope="col">Средневзвешенная цена реализации единицы товара, USD.</th>
              </tr>
            </thead>
            {% for obj in get_chem_courier_objects_from_base %}
            <tbody>

                    <tr>
                            <td>{{ forloop.counter }}</td>
                            {#    <td>{{ obj.tyre_size_chem }}</td> #}
                            <td>{{ obj.producer_chem }}</td>
                            <td>{{ obj.reciever_chem }}</td>
                            <td>{{ obj.prod_country }}</td>
                            <td>{{ obj.group_chem.tyre_group }}</td>
                            <td>{{ obj.val_on_moth_chem }}</td>
                            <td>{{ obj.money_on_moth_chem }}</td>
                            <td>{{ obj.average_price_in_usd }}</td>
                            <td>{{ obj.average_from_usd_to_bel }}</td>
                    </tr>

            </tbody>
            {% endfor %}
        </table>
    </div>

    <div>
        <form action="{% url 'chemcurier:chemcurier_update' %}" method="post">
            {% csrf_token %}
            <td>{{ period_form }}<br></td> 
            <td>{{ tyresizes_form }}<br></td> 
            <td>{{ tyrebrands_form }}<br></td> 
            <td>{{ recievers_form }}<br></td> 
            <td>{{ prod_countrys_form }}<br></td> 
            <td>{{ groups_form }}<br></td>

            <td>{{ currency_input_form }}<br></td>   
            <td>{{ currency }}<br></td> 
            <td>{{ curr_value }}<br></td>           
            <button type="submit" class="btn btn-warning" name1="change_period" value1="period">Принять</button>
        </form>
    </div>


</div>



  {% endblock body %}