{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load googlecharts %}
{% block title %} Comparative table Belarus {% endblock title %}
{% block body %} 

<!---->


<div class="main">

  <div class="red"></div>  

    
  {# <div class="container"> #}
  <div class="container">

        <div class="el-0">
        </div>

        <div class="el-1">
                <div class="div1"> 
                  <strong>Маркетплейс-анализ. Рынок: Республика Беларусь на {{ table_current_date_for_header }}</strong>
                </div>
            <div class="div2">  
              <form action="{% url 'prices:apricestable_update' %}" method="post">
                {% csrf_token %}
                <input type="text" name="product_search">
                <button type="submit">Найти</button>
              </form>
            </div>
        </div>

        <div class="el-01">
          <p>
            <a class="btn-sm btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              X
            </a>
          <div class=".collapse.show" id="collapseExample">
              <span>
                {% if end_date_is_not_chosen_bage %} 
                  {{ end_date_is_not_chosen_bage }}
                {% endif %}<br>
                {% if end_date_is_not_chosen_bage %} 
                  {{ start_date_is_not_chosen_bage }}
                {% endif %}<br>


                {% if producer_filter_brand_list_checked__only_3_cheapest_chosen_bage %} 
                  {{ producer_filter_brand_list_checked__only_3_cheapest_chosen_bage }}
                {% endif %}<br>

                {% if no_chosen_production_checked_bage %} 
                  {{ no_chosen_production_checked_bage }}
                {% endif %}<br>

              {% if producer_filter_brand_list_checked_bage %}  
              Поиск по брендам:
                {% for brand_name in producer_filter_brand_list_checked_bage %}
                  <span class="badge bg-light text-dark">{{ brand_name }}</span>
                {% endfor %}
              {% endif %}
            </span>
            <span>
              {% if in_base_tyres_list_checked_bage %}
              Поиск по продукции:

                {% for production_name in in_base_tyres_list_checked_bage %}
                  <span class="badge bg-light text-dark">{{ production_name.tyre.tyre_size.tyre_size }} {{ production_name.tyre.tyre_model.model }}</span> 
                {% endfor %}
              {% endif %}
            </span>
            <span>
              {% if in_base_tyres_by_group_checked_bage %}
              Поиск по группа шин:
                {% for group in in_base_tyres_by_group_checked_bage %}
                  <span class="badge bg-light text-dark">{{ group.tyre_group }} </span> 
                {% endfor %}
              {% endif %}          
            </span>
          </div>
        </div>
 
        <div class="el-3">
        {#<div id="content">#}
        
          {#<div class="container" id="table_container">#}
            <div class="table-responsive" id="table_container"> 
              <table class="table caption-top table align-middle table-hover table-striped table-bordered table-sm" >
                {# <caption></caption> #}
                <thead>
                  <tr >
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">#</p></span></th> 
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">номенклатура</p></span></th>  
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">сезонность индексы рисунок и прочее</p></span></th>
                    <th class="collapse multi-collapse-horizontal" id="collapseWidthExample5" scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">полные затраты</p></span></th>
                    <th class="collapse multi-collapse-horizontal" id="collapseWidthExample6" scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">прямые затраты</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">прейскуранты №№9, 902</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">ТПС РФ FCA</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">ТПС Казахстан FCA</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">ТПС Средняя Азия, Закавказье, Молдова FCA</p></span></p></span</th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">действующие цены</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">плановая рентабельность</p></span></th>
                    <th scope="col"; rowspan="2"; valign="middle"><span class="align-middle"><p class="text-center">отклонение прямых затрат</p></span></th>
                  
                    {% if object.onliner_heders_lengt %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample" colspan="{{ object.onliner_heders_lengt }}"" valign="middle"><span class="align-middle"><p class="text-center">Onliner <p align="center">({{ table_current_date_for_header }})</p></p></span></th>
                    {% endif %}
                  
                    {% if object.avtoset_heders_lengt %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample1" colspan="{{ object.avtoset_heders_lengt }}" valign="middle"><span class="align-middle"><p class="text-center">Avtoset <p align="center">({{ table_current_date_for_header }})</p></p></span></th>
                    {% endif %}
                  
                    {% if object.bagoria_heders_lengt %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample2" colspan="{{ object.bagoria_heders_lengt }}" valign="middle"><span class="align-middle"><p class="text-center">Bagoria <p align="center">({{ table_current_date_for_header }})</p></p></span></th>
                    {% endif %}
                  
                    {% if object.chemcurier_heders_lengt %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" colspan="{{ object.chemcurier_heders_lengt }}" valign="middle"><span class="align-middle"><p class="text-center">Chemcurier</p></span></th>
                    {% endif %}
                  </tr>
                  <tr>
                    {% for head1, head2, head3 in object.onliner_heders_value %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ head1 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ head2 }}, размер торговой надбавки {{ current_deflection_value }}%</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ head3 }}</p></span></th>
                    {% endfor %}
                  
                    {% for head1, head2, head3 in object.avtoset_heders_value %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ head1 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ head2 }}, размер торговой надбавки {{ current_deflection_value }}%</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ head3 }}</p></span></th>
                    {% endfor %}
                  
                    {% for head1, head2, head3 in object.bagoria_heders_value %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ head1 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ head2 }}, размер торговой надбавки {{ current_deflection_value }}%</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ head3 }}</p></span></th>
                    {% endfor %}
                  
                    {% for head1, head2, head3, head4, head5 in object.chemcurier_heders_value %}
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ head1 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ head2 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ head3 }}</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ head4 }}, %</p></span></th>
                    <th class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ head5 }}</p></span></th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for object in list_of_tyre_comparative_objects %}
                  <tr>
                   <td scope="row"; align="center"; valign="middle">{{ forloop.counter0|add:list_of_tyre_comparative_objects.start_index }}</td>
                    <td class="sticky-col second-col"><a href=""></a>
                    <span class="align-middle">
                      {{ object.tyre.tyre_size.tyre_size }} {{ object.tyre.tyre_model.model }}</p></span>
                    {% for param in object.tyre.tyre_type.all %}
                      {{ param.tyre_type }}
                    {% endfor %}</td>
                    
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{% for index in object.tyre.added_features.all %} {{ index.indexes_list }} {{ index.season_usage.season_usage_name }} {% endfor %}</p></span></td>
                    {# <td class="collapse multi-collapse-horizontal" id="collapseWidthExample5" scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.planned_costs.price|floatformat:"2g" }}</p></span></td> #}
                    <td class="collapse multi-collapse-horizontal" id="collapseWidthExample5" scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.planned_costs_from_currency_to_bel_rub|floatformat:"2g" }}</p></span></td>
                    {# <td class="collapse multi-collapse-horizontal" id="collapseWidthExample6" scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.semi_variable_prices.price|floatformat:"2g" }}</p></span></td> #}
                    <td class="collapse multi-collapse-horizontal" id="collapseWidthExample6" scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.semi_variable_prices_from_currency_to_bel_rub|floatformat:"2g" }}</p></span></td>
                    {#<td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.belarus902price.price|floatformat:"2g" }}</p></span></td> #}
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.belarus902price_from_currency_to_bel_rub|floatformat:"2g" }}</p></span></td>
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.tpsrussiafcaprice.price|floatformat:"2g" }}</p></span></td>
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.tpskazfcaprice.price|floatformat:"2g" }}</p></span></td>
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.tpsmiddleasiafcaprice.price|floatformat:"2g" }}</p></span></td>
                    {# <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.currentpricesprice.price|floatformat:"2g" }}</p></span></td> #}
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.currentpricesprice_from_currency_to_bel_rub|floatformat:"2g" }}</p></span></td>
                    {# <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.planned_profitabilit|floatformat:2 }}</p></span></td> #}
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.planned_profitability_from_currency_to_bel_rub|floatformat:2 }}%</p></span></td>
                    {# <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.direct_cost_variance|floatformat:2 }}%</p></span></td> #}
                    <td scope="row" valign="middle"><span class="align-middle"><p class="text-center">{{ object.direct_cost_variance_from_currency_to_bel_rub|floatformat:2 }}%</p></span></td>
                    
                  {# {% for comp, price, deflection in object.onliner_competitor_on_date1 %} #} 
                    {% for comp, price, deflection in object.onliner_table_header %}
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ comp }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ price|floatformat:"2g" }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample" valign="middle"><span class="align-middle"><p class="text-center">{{ deflection|floatformat:2 }}  {% if deflection %} % {% endif %}</p></span></td>  
                    {% endfor %}
                    
                  {# {% for comp, price, deflection in object.avtoset_competitor_on_date1 %} #} 
                    {% for comp, price, deflection in object.avtoset_table_header %}
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ comp }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ price|floatformat:"2g" }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample1" valign="middle"><span class="align-middle"><p class="text-center">{{ deflection|floatformat:2 }}  {% if deflection %} % {% endif %}</p></span></td>
                    {% endfor %}
                    
                  {# {% for comp, price, deflection in object.bagoria_competitor_on_date1 %} #}
                    {% for comp, price, deflection in object.bagoria_table_header %}
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ comp }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ price|floatformat:"2g" }}</p></span></td> 
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample2" valign="middle"><span class="align-middle"><p class="text-center">{{ deflection|floatformat:2 }}  {% if deflection %} % {% endif %}</p></span></td>
                    {% endfor %}
                    
                    {% for val in object.chemcurier_competitor_on_date1 %}
                    <td class="collapse collapse-horizontal show" id="collapseWidthExample3" valign="middle"><span class="align-middle"><p class="text-center">{{ val }}</p></span></td> 
                    {% endfor %}    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          
            <div>{% include '../pagination_table.html' %}</div>
            
          
        </div>
      
        <div class="el-2">
        {#<div id="menu">#}
        
            <form action="{% url 'prices:apricestable_update' %}" method="post">
                {% csrf_token %}

            <div>задать начальную дату <input type="date" name="parcing_date_start" value="{{ chosen_date_start }}">  <input type="hidden" value="select"><br></div>
            <div>задать конечную дату <input type="date" name="parcing_date" value="{{ chosen_date }}">  <input type="hidden" value="select"><br></div>

            <div class="dropdown dropstart">  
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                выбрать бренд:
              </button>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><input type="checkbox" name="producers_all" value="{{ producer_filter_all.all }}"><b>все бренды</b></li>
                {% for comp, status in producer_filter_brand_list %}
                  <li><input type="checkbox" name="producer_filter_brand_list" value="{{ comp }}" {{ status }}>{{ comp }}</li>
                {% endfor %}
              </ul>
            </div>
          
            <div class="dropdown dropstart">  
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                выбрать продукцию:
              </button>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
          {#       <li><input type="checkbox" name="self_production_all" value="{{ in_base_tyres.all }}"><b>вся продукция</b></li> #} 
                {% for ttyre, status in in_base_tyres  %}
                  <li><input type="checkbox" name="self_production" value="{{ ttyre.id }}" {{ status }}>{{ ttyre.tyre.tyre_size.tyre_size }} {{ ttyre.tyre.tyre_model.model }} {% for param in ttyre.tyre.tyre_type.all %} {{ param.tyre_type }} {% endfor %}</li>
                {% endfor %}
              </ul>
            </div>
          
            <div class="dropdown dropstart">  
              <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                выбрать группу шин:
              </button>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><b><input type="checkbox" name="self_production_group_id_all" value="{{ in_base_tyres_by_group.all }}">все группы</b></li>
                {% for group, status in in_base_tyres_by_group %}
                  <li><input type="checkbox" name="self_production_group_id" value="{{ group.id }}" {{ status }}>{{ group.tyre_group }}</li>
                {% endfor %}
              </ul>
            </div>
          
            <div>{{ pagination_val_per_form }}</div>
            <div>{{ compet_per_site_form }}</div>

            <div>{{ deflection_form }}</div>
             
            <div>{{ currency_input_form }}<br>
              {{ currency }} = {{ shown_date}} {{ curr_value }} BYN     
            </div>  

          
          
            <div class="form-check form-check-inline" >
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" name="weighted_average" {{ weighted_average_checked }}>
              <label class="form-check-label" for="inlineCheckbox2">Вывести информацию в графике в виде средневзвешенной цены на рынке</label>
            </div>

            <div class="form-check form-check-inline" >
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="true" name="full_lined_chart" {{ full_lined_chart_checked }}>
              <label class="form-check-label" for="inlineCheckbox3">Линейный график без разрывов</label>
            </div>


        {#    <div class="form-check form-check-inline" > #}
        {#      <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="true" name="only_on_current_date" {{ only_on_current_date_checked }}> #}
        {#      <label class="form-check-label" for="inlineCheckbox5">Выводить график только на выбранную дату</label> #}
        {#    </div>      #}      

            <button type="submit" class="btn btn-warning" name1="change_period" value1="period">Принять</button>
            </form>

            <form>
            <p>работа с источником данных:</p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="btncheck1" checked data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="true" aria-controls="collapseWidthExample">
              <label class="form-check-label" for="btncheck1">показать/скрыть Onliner</label> 
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="btncheck2" checked data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="true" aria-controls="collapseWidthExample1"> 
              <label class="form-check-label" for="btncheck2">показать/скрыть Avtoset</label> 
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="btncheck3" checked data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="true" aria-controls="collapseWidthExample2">
              <label class="form-check-label" for="btncheck3">показать/скрыть Bagoria</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="btncheck4" checked data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="true" aria-controls="collapseWidthExample3">
              <label class="form-check-label" for="btncheck4">показать/скрыть Chemcurier</label> 
            </div>
          
            <p>дополнительные данные:</p>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="btncheck5" data-bs-toggle="collapse" data-bs-toggle="collapse" data-bs-target=".multi-collapse-horizontal" aria-expanded="false" aria-controls="collapseWidthExample5 collapseWidthExample6">
              <label class="form-check-label" for="btncheck5">показать/скрыть себестоимость</label> 
            </div>
            </form>
          

        </div>





      {# % include 'prices/charts.html' % #}
      {# {% include '../charts.html' %} #}



      {#     {{ object_unit }}<br> #}
      {#     {{ filter_producer }}<br> #}
      {#     {{ sites_filter_chart }}<br> #}


        <div class="el-4">
        {#<div id="first_chart">#}
        
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
              <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
              
                function drawChart() {
                
                  var data = google.visualization.arrayToDataTable(
                    {{ final_parsed_data_from_sites|safe }}
                  );
                
                  var options = {
                    title: 'Общее количество собранных данных о конкурентах с маркет-плейсов на {{ final_parsed_data_from_sites_data|safe }}. Всего: {{ final_parsed_data_from_sites_whole|safe }}',
                  //  height: 300,
                  legend: { position: 'bottom' },
                  slices: {  1: {offset: 0.05},      //  разделить срез на смещение (от 0 до 1)
                    2: {offset: 0.05},
                    3: {offset: 0.05},
                    },
                    colors:['#d11616','#05a107','#2307d9']
                  };
                
                  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                
                  chart.draw(data, options);
                }
              </script>
              <div id="piechart" style="height: 400px;"></div>
            
        </div>

        
        <div class="el-5">
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
          google.charts.load('current', {callback: drawChart,packages: ['controls', 'corechart', 'bar']});

          function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['', 'onliner.by', 'bagoria.by', 'autoset.by',
                // { role: 'annotation' } ],   // общее количество - норм для материальной, но здесь убрано (чтоб вернуть  - снять коммент и во view раскоментить 'list_of_parrsed_brands_sites = ','.join(str(x) for x in list_of_parrsed_brands_sites) # !!!!!!! ДРУГОЙ ВАРИАНТ ПЕРЕДАЧИ ДАННЫХ')
                ],
                  {{ brands_from_sites|safe }}
              ]);

          var columnsTable = new google.visualization.DataTable();
           columnsTable.addColumn('number', 'colIndex');
           columnsTable.addColumn('string', 'colLabel');
           var initState= {selectedValues: []};
           // put the columns into this data table (skip column 0)
           for (var i = 1; i < data.getNumberOfColumns(); i++) {
               columnsTable.addRow([i, data.getColumnLabel(i)]);
           }

           var chart = new google.visualization.ChartWrapper({
               chartType: 'BarChart',
              // chartType: 'Bar',
               containerId: 'chart_div1',
               dataTable: data,
               options: {
                  isStacked: true,
                  bars: 'horizontal',
                  howRowNumber: true, //номера строк - но не работает
                  legend: {
                  position: 'bottom'  // top не работает, рабочие лишь left, right
                  },
                  title:'Общее оличество позиций на сайтах в разрезе брендов на дату {{ brands_from_sites_date }}, топ-{{ top_brands_num }}',
                  colors:['#d11616','#05a107','#2307d9'],
                  theme: 'material',       // должно было работать, не нет - не меняет тему на курутую материалку
                  // bar: {groupWidth:'40%'},
                  // chartArea:{left:32,width:'70%'},
                  vAxis: { 
                      //  title:'бел. руб.',                            // вертикальная ось, но здесь не все можно прописать в материальной таблице
                        viewWindow: {                                   // количество отображаемых на странице линий  (здесь просто только первые 10 позиций)                      
                          max:10,                                       // ИНДЕКС максимальной отображаемой позиции
                          min:0                                         // ИНДЕКС минимальной отображаемой  позиции
                      },
                    }, 
                  titleTextStyle: {
                      color: 'black',    
                    //  fontName: 'Times New Roman', 
                      fontSize: 13, 
                      bold: true,    
                      italic: false,  
                  },      
               }
           });
         
           var columnFilter = new google.visualization.ControlWrapper({
               controlType: 'CategoryFilter',
               containerId: 'colFilter_div1',
               dataTable: columnsTable,
               options: {
                   filterColumnLabel: 'colLabel',
                   filterColumnIndex: 1,
                  // useFormattedValue: true,
                   ui: {
                       label: 'Маркетплейс',
                       allowTyping: false,
                       allowMultiple: false,
                       caption : 'Все маркетплейсы',
                       allowNone: true,
                    //   selectedValuesLayout: 'belowStacked'
                   }
               },
               state: initState
           });
         
           function setChartView () {
               var state = columnFilter.getState();
               var row;
               var view = {
                   columns: [0]
               };
               for (var i = 0; i < state.selectedValues.length; i++) {
                   row = columnsTable.getFilteredRows([{column: 1, value: state.selectedValues[i]}])[0];
                   view.columns.push(columnsTable.getValue(row, 0));
               }
               // sort the indices into their original order
               view.columns.sort(function (a, b) {
                   return (a - b);
               });
               if (state.selectedValues.length > 0) {
                 chart.setView(view);
               } else {
                 chart.setView(null);
               }
               chart.draw();
           }
           google.visualization.events.addListener(columnFilter, 'statechange', setChartView);

           setChartView();
           columnFilter.draw();
               
        }
          </script>
                <div id="chart_div1" style="height: 390px;"></div>
                <div id="colFilter_div1"></div>
      </div>    



        <div class="el-6">
        {#<div id="second_chart">#}
        
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
            //google.load('visualization', '1', {packages: ['controls']});
            

            //google.charts.load('current', {'packages':['line', 'controls']});                         // д.б. этот , но пока добавлен еще и 'corechart
            google.charts.load('current', {'packages':['line', 'corechart', 'controls']});              // ДОБАВЛЕН 'corechart' в надежде, что заработает InterpolateNulls:
            //google.charts.load('current', {'packages':['line', 'controls'], 'language': 'ru'});
            google.setOnLoadCallback(drawChart);
            
            function drawChart () {
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                for (var values, _pj_c = 0, _pj_a = {{ competitor_names|safe }}, _pj_b = _pj_a.length; _pj_c < _pj_b; _pj_c += 1) {     
                      values = _pj_a[_pj_c];                                                                                                
                      values;                                                                                                               
                      data.addColumn('number', values);                                                                                     
                    } 

                {% for key, value in list_of_competitor_values_new.items %} 
                data.addRows([  
                  [new Date{{ key }}, {{ value|join:", " }} ], 
                    ]); 
                {% endfor %}
                                                                                                              
      
                var columnsTable = new google.visualization.DataTable();

                columnsTable.addColumn('number', 'colIndex');
                columnsTable.addColumn('string', 'colLabel');
                var initState= {selectedValues: []};
                // put the columns into this data table (skip column 0)
                for (var i = 1; i < data.getNumberOfColumns(); i++) {
                    columnsTable.addRow([i, data.getColumnLabel(i)]);
                    // you can comment out this next line if you want to have a default selection other than the whole list
                    initState.selectedValues.push(data.getColumnLabel(i));
                }
                // ЗДЕСЬ САМ ГРАФИК ПРЕДСТАВЛЕНИЕ


                var chart = new google.visualization.ChartWrapper({
                
                    chartType: 'LineChart',   // ВЫБОР - КАКУЮ ВЕРСИЮ ТАБЛИЦЫ ЮЗАТЬ !!!!      ///  ВЫБОР КАК ОТОБРАЖАТЬ ГРАФИК
                    //chartType: 'Line',
                
                    containerId: 'chart_div',
                    dataTable: data,
                
                    options: google.charts.Line.convertOptions({
                      
                      chart: {
                        title:"{{ chart_title|safe }}",
                        subtitle: "BYN",
                      },
                         
                    {% if full_lined_chart_checked_flag %}
                      interpolateNulls: true,         // !!!!!!  автозаполнение 0 значений                        
                    {% endif %}
                      
 
                    //  curveType: 'function',    //   сгладить изгиб линии
                      pointSize: 7,
                      lineWidth: 7,
                      title:"Типоразмер {{ chart_title|safe }}",
                      titleTextStyle: { 
                          fontSize: 22,
                          fontName: 'Times New Roman',
                          bold: true,
                          },
                      
                      chartArea: {
                        left: 100,
                        width: '70%',
                      },

                      subtitle: "BYN",
                      //width: 600,                                       // ширина таблицы
                      height:400,
                      legend: { position: 'right' },   ///// РАБОТАЕТ (и left),
                      //legend: { position: 'bottom' },
                      //lineWidth: 20,                    // ширина лини
                      vAxis: {                                                // вертикальная ось, но здесь не все можно прописать в материальной таблице
                        //gridlines:{color: 'blue'}, // цвет полос оси У
                        format: '0',  // '0.00',       //format: '#'                    // 2 знака поле запятой            // КОСТЫЛЬ - НО РАБОЧИЙ! ФОРМАТ ЧИСЕЛ В ТАБЛИЦЕ
                        title:'бел. руб.',
                      },
                      hAxis: {
                          format: 'dd.MM.Y',
                          gridlines: {count: 15},
                        },
                      axes: {                                             // вертикальная ось, дописываем оси здесь
                          x: {
                            0: { 
                              // side: 'top',
                              label: '',
                            } 
                          },
                          y: {
                            0: { 
                              label: 'бел. руб.',
                              textStyle: {color: 'red'},

                            } 
                          }                  
                        },
                      
                    }),  
                });

              
              // ЗДЕСЬ опция выбора:
                var columnFilter = new google.visualization.ControlWrapper({
                    controlType: 'CategoryFilter',
                    containerId: 'colFilter_div',
                    dataTable: columnsTable,
                    options: {
                        filterColumnLabel: 'colLabel',
                        ui: {
                            label: '',
                            allowTyping: false,
                            allowMultiple: true,
                            allowNone: false,
                            selectedValuesLayout: 'aside',
                          //  selectedValuesLayout:'belowStacked',
                            caption: 'фильтр',
                        }
                    },
                    state: initState
                });
              
                function setChartView () {
                    var state = columnFilter.getState();
                    var row;
                    var view = {
                        columns: [0]
                    };
                    for (var i = 0; i < state.selectedValues.length; i++) {
                        row = columnsTable.getFilteredRows([{column: 1, value: state.selectedValues[i]}])[0];
                        view.columns.push(columnsTable.getValue(row, 0));
                    }
                    // sort the indices into their original order
                    view.columns.sort(function (a, b) {
                        return (a - b);
                    });
                    chart.setView(view);
                    chart.draw();
                }

                var control = new google.visualization.ControlWrapper({
                    controlType: 'ChartRangeFilter',
                    containerId: 'control_div',
                    options: {
                        filterColumnIndex: 0,
                        ui: {
                            chartOptions: {
                                hAxis: {'baselineColor': 'none', format: 'dd.MM.Y' },
                                height: 50,
                                chartArea: {
                                    left: 100,
                                    width: '70%'
                                }
                            }
                        }
                    }
                });


                function setOptions() {
                    var firstDate;
                    var lastDate;
                    var v = control.getState();

                    if (v.range) {
                      document.getElementById('dbgchart').innerHTML = v.range.start + ' to ' + v.range.end;
                      firstDate = new Date(v.range.start.getTime() + 1);
                      lastDate = new Date(v.range.end.getTime() - 1);
                      data.setValue(v.range.start.getMonth(), 0, firstDate);
                      data.setValue(v.range.end.getMonth(), 0, lastDate);
                    } else {
                      firstDate = data.getValue(0, 0);
                      lastDate = data.getValue(data.getNumberOfRows() - 1, 0);
                    }
                  
                    var ticks = [];
                    for (var i = firstDate.getMonth(); i <= lastDate.getMonth(); i++) {
                      ticks.push(data.getValue(i, 0));
                    }
                  
                    chart.setOption('hAxis.ticks', ticks);
                    chart.setOption('hAxis.viewWindow.min', firstDate);
                    chart.setOption('hAxis.viewWindow.max', lastDate);
                    if (dash) {
                      chart.draw();
                    }
                }


                google.visualization.events.addListener(columnFilter, 'statechange', setChartView, control, setOptions);
              
                setChartView();
                columnFilter.draw();

                var dash = new google.visualization.Dashboard(document.getElementById('dashboard'));
                dash.bind([control], [chart]);
                dash.draw(data);
                
            }
          </script>

          <div id="colFilter_div"></div>
          <div id="chart_div"></div>



            <div id="dashboard">
                <div id="chart_div"></div>
                <div id="control_div"></div>
                <p><span id='dbgchart'></span></p>
            </div>
       
        </div>


       <div class="el el-7"></div>

  </div>

</div>





{% endblock body %}







{# <p> #}
  {#   <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">скрыть/показать Onliner</button> #}
  {#   <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">скрыть/показать Avtoset</button> #}
  {#   <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2">скрыть/показать Bagoria</button> #}
  {#   <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3">скрыть/показать Chemcurier</button> #}
     {# <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse-horizontal" aria-expanded="false" aria-controls="collapseWidthExample collapseWidthExample1 collapseWidthExample2 collapseWidthExample3">скрыть/показать все</button> #}
{# </p> #}

{# <div class="btn-group-vertical" role="group" aria-label="Базовая группа переключателей флажков Сайты и Химкурьер">  #}
{#   <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">  #}
{#   <label class="btn btn-outline-success" for="btncheck1">скрыть/показать Onliner</label>  #}

{#   <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample1">  #}
{#   <label class="btn btn-outline-success" for="btncheck2">скрыть/показать Avtoset</label> #} 

{#   <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2"> #}
{#   <label class="btn btn-outline-success" for="btncheck3">скрыть/показать Bagoria</label> #}

{#   <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3"> #}
{#   <label class="btn btn-outline-success" for="btncheck4">скрыть/показать Chemcurier</label>  #}
{# </div>  #}


{#  <div class="form-check form-check-inline" >#}
  {#  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" name="marketplace_on" {{ marketplace_on_checked }}>#}
  {#  <label class="form-check-label" for="inlineCheckbox1">Переключить график: вывод данных в разрезе торговых площадок</label>#}
  {#</div>  #}