{% extends 'base.html' %}
{# {% load crispy_forms_tags %} #}
{% load my_tags %}
{# {% load googlecharts %} #}
{% block title %} Aimarketer {% endblock title %}
{% block body %} 


<div class="main">
    <div class="container">

        <div class="el-ask">   
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %} 

                {{ form }}

                <br><button type="submit" name="a_request" value="a_request">запрос</button>
            </form>
      </div>

        =========================================================
        {{ response }}

    </div>
</div>

{% endblock body %}

